.board {
  height: 630px;
  width: 630px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  float: left;
  margin-right: 250px;
}

.button {
  height: 70px;
  width: 70px;
  font-size: 30px;
  background-color: white;
  border: 1px solid #DBDBDB;
}

.numCont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 280px;
  width: 210px;
  margin: 150px;
}

.choosed {
  background-color: #BBDEFB;
}

.nan {
  background-color: #E2EBF3;
}

.solve {
  background-color: white;
  font-size: 18px;
  height: 70px;
  width: 70px;
}

.solve:hover {
  color: green;
}

.solve:active {
  color: white;
  background-color: green;
}

.board button:nth-child(3n) {
  border-right: 3px solid #00367F;
}

.board button:nth-child(9n + 1) {
  border-left: 3px solid #00367F;
}